{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}New Product{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card shadow-lg border-0">
                <div class="card-header bg-dark text-white">
                    <h4 class="mb-0">Add New Product</h4>
                </div>

                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        
                        <div class="row">
                            {% for field in form %}
                                <div class="col-md-6 mb-3">
                                    <label class="form-label">
                                        {{ field.label }}
                                    </label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="text-danger small">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                        <hr>

                        
                        <h5 class="mb-3">Product Images</h5>

                        {{ formset.management_form }}

                        <div class="row">
                            {% for form in formset %}
                                <div class="col-md-6 mb-3">
                                    <div class="border rounded p-3 bg-light">
                                        {{ form.image.label_tag }}
                                        {{ form.image }}

                                        {% if form.DELETE %}
                                            <div class="form-check mt-2">
                                                {{ form.DELETE }}
                                                <label class="form-check-label">
                                                    Delete
                                                </label>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-success btn-lg">
                                Add Product
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}