{% extends 'base.html' %}
{% block title %}{{ category.name }}{{product.quantity}}{% endblock %}
{% load static %}
{% block content %}


<div class="row ps-4">
    <h1>{{ category.name }}</h1>
    {% for product in products %}
        <div class="col-md-4 mb-4 ps-4">
            <div class="card h-100" style="width: 18rem;">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="No image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">
                        {{ product.price }}₾
                        {% if product.is_discounted %}
                            <span class="badge bg-danger">SALE</span>
                        {% endif %}
                    </p>
                    <a href="{% url 'store:detail' product_pk=product.pk %}" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No products in this category.</p>
    {% endfor %}
</div>

{% endblock %}