{% extends 'base.html' %}

{% block title %}Discounted Products{% endblock %}
{% load static %}
{% block content %}

<div class="container-fluid d-flex justify-content-center align-items-center ps-4">
<div class="row">
    <h1>Discounted Products</h1>
    {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100" style="width: 18rem;">
                {% if product.images.first %}
            <img src="{{ product.images.first.image.url }}" 
                 class="img-fluid mb-3" 
                 alt="{{ product.name }}" 
                 style="max-height:300px; object-fit:contain;">
        {% else %}
            <img src="/media/default.jpg" 
                 class="img-fluid mb-3" 
                 alt="No image" 
                 style="max-height:300px; object-fit:contain;">
        {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">
                        {{ product.price }}₾
                        <span class="badge bg-danger">SALE</span>
                    </p>
                    <a href="{% url 'store:detail' pk=product.id %}" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No discounted products available.</p>
    {% endfor %}
</div>
</div>
{% endblock %}

