{% extends 'base.html' %}
{% load static %}
{% block title %}Shop{% endblock %}

{% block content %}



<div class="header-carousel owl-carousel py-4">
    {% for product in featured_products %}
    <div class="text-center p-3">
        {% if product.images.first %}
        <img src="{{ product.images.first.image.url }}" class="img-fluid mb-3" alt="{{ product.name }}"
            style="max-height:300px; object-fit:contain;">
        {% else %}
        <img src="/media/default.jpg" class="img-fluid mb-3" alt="No image"
            style="max-height:300px; object-fit:contain;">
        {% endif %}
        <h5 class="text-uppercase fw-bold mb-2">Special Offer</h5>
        <h3 class="mb-2">{{ product.name }}</h3>
        <p class="text-muted mb-3">Limited Time Discount!</p>
        <a href="{% url 'store:detail' pk=product.id %}" class="btn btn-primary px-4 py-2">Details</a>
    </div>
    {% empty %}
    <p>No discounted products available for the carousel.</p>
    {% endfor %}
</div>

<div class="container-fluid px-0">
    <div class="row g-0">
        <div class="col-6 col-md-4 col-lg-2 border-start border-end wow fadeInUp" data-wow-delay="0.1s">
            <div class="p-4">
                <div class="d-inline-flex align-items-center">
                    <i class="fa fa-sync-alt fa-2x text-primary"></i>
                    <div class="ms-4">
                        <h6 class="text-uppercase mb-2">Free Return</h6>
                        <p class="mb-0">30 days money back guarantee!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 border-end wow fadeInUp" data-wow-delay="0.2s">
            <div class="p-4">
                <div class="d-flex align-items-center">
                    <i class="fab fa-telegram-plane fa-2x text-primary"></i>
                    <div class="ms-4">
                        <h6 class="text-uppercase mb-2">Free Shipping</h6>
                        <p class="mb-0">Free shipping on all order</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 border-end wow fadeInUp" data-wow-delay="0.3s">
            <div class="p-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-life-ring fa-2x text-primary"></i>
                    <div class="ms-4">
                        <h6 class="text-uppercase mb-2">Support 24/7</h6>
                        <p class="mb-0">We support online 24 hrs a day</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 border-end wow fadeInUp" data-wow-delay="0.4s">
            <div class="p-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-credit-card fa-2x text-primary"></i>
                    <div class="ms-4">
                        <h6 class="text-uppercase mb-2">Receive Gift Card</h6>
                        <p class="mb-0">Recieve gift all over oder $50</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 border-end wow fadeInUp" data-wow-delay="0.5s">
            <div class="p-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-lock fa-2x text-primary"></i>
                    <div class="ms-4">
                        <h6 class="text-uppercase mb-2">Secure Payment</h6>
                        <p class="mb-0">We Value Your Security</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 border-end wow fadeInUp" data-wow-delay="0.6s">
            <div class="p-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-blog fa-2x text-primary"></i>
                    <div class="ms-4">
                        <h6 class="text-uppercase mb-2">Online Service</h6>
                        <p class="mb-0">Free return products in 30 days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row g-4">


        <div class="col-lg-3">
            <div class="mb-4">
                <h4>Categories</h4>
                <ul class="list-unstyled">
                    {% for category in categories %}
                    <li class="mb-2">
                        <a href="{% url 'store:category_products' category.id %}">
                            {{ category.name }}
                        </a>
                        <span class="badge bg-success">
                            {{ category.product_count }}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="mb-4">
                <h4>Recently added items</h4>
                <ul class="list-unstyled">
                    {% for product in latest_products %}
                    <a href="{% url 'store:detail' product.pk %}">
                        <li>{{ product.name }}</li>
                    </a>
                    {% empty %}
                    <li>No recent products</li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="col-lg-9">





            <div class="container-fluid bg-light py-5">
                <div class="container">
                    <div class="row g-4">
                        {% if products %}
                        {% for product in products %}
                        <div class="col-lg-6 col-md-6 wow {% if forloop.first %}fadeInLeft{% else %}fadeInRight{% endif %}"
                            data-wow-delay="0.2s">
                            <a href="{% url 'store:detail' product.pk %}"
                                class="d-flex align-items-center justify-content-between border bg-white rounded p-4 text-decoration-none text-dark">
                                <div>
                                    <p class="text-muted mb-3">Find The Best {{ product.name }} for You!</p>
                                    <h3 class="text-primary">{{ product.name }}</h3>
                                    <h5 class="text-secondary mb-0">Special Offer</h5>
                                </div>
                                <img src="{{ product.images.first.image.url }}" class="img-fluid mb-3"
                                    alt="{{ product.name }}" style="max-height:300px; object-fit:contain;">
                            </a>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p class="text-center">No discounted products available.</p>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="container-fluid product py-5">
                <div class="container py-5">

                    <div class="row g-4 mb-4">
                        <div class="col-lg-4 text-start wow fadeInLeft" data-wow-delay="0.1s">
                            <h1>Our Products</h1>
                        </div>
                        <div class="col-lg-8 text-end wow fadeInRight" data-wow-delay="0.1s">
                            <ul class="nav nav-pills d-inline-flex text-center">
                                <li class="nav-item mx-1">
                                    <a class="nav-link active rounded-pill" data-bs-toggle="pill" href="#tab-1">All
                                        Products</a>
                                </li>
                                <li class="nav-item mx-1">
                                    <a class="nav-link rounded-pill" data-bs-toggle="pill" href="#tab-2">New
                                        Arrivals</a>
                                </li>
                                <li class="nav-item mx-1">
                                    <a class="nav-link rounded-pill" data-bs-toggle="pill" href="#tab-3">Featured</a>
                                </li>
                                <li class="nav-item mx-1">
                                    <a class="nav-link rounded-pill" data-bs-toggle="pill" href="#tab-4">Top Selling</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="tab-content">

                        <div id="tab-1" class="tab-pane fade show active">
                            <div class="row g-4">
                                {% if products %}
                                {% for product in products %}
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="card h-100 shadow-sm">
                                        <img src="{{ product.images.first.image.url }}" class="img-fluid mb-3"
                                            alt="{{ product.name }}" style="max-height:300px; object-fit:contain;">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">{{ product.name }}</h5>
                                            <p class="card-text fw-bold">{{ product.price }}₾</p>
                                            <span class="badge bg-secondary mb-2">{{ product.category.name }}</span>
                                            <a href="{% url 'store:detail' pk=product.id %}"
                                                class="btn btn-primary mt-auto">See More</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <p class="text-center">No products available.</p>
                                {% endif %}
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="container-fluid products pb-5">
                <div class="container products-mini py-5">
                    <div class="mx-auto text-center mb-5" style="max-width: 700px;">
                        <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius wow fadeInUp"
                            data-wow-delay="0.1s">Bestseller Products</h4>
                        <p class="mb-0 wow fadeInUp" data-wow-delay="0.2s">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Modi, asperiores ducimus sint quos tempore officia similique quia? Libero,
                            pariatur consectetur?</p>
                    </div>
                    <div class="row g-4">
                        {% if products %}
                        {% for product in products %}
                        <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="products-mini-item border h-100 d-flex flex-column">
                                <div class="row g-0 flex-grow-1">
                                    <div class="col-5">
                                        <div class="products-mini-img border-end h-100">
                                            <img src="{{ product.image.url }}" class="img-fluid w-100 h-100"
                                                alt="{{ product.name }}" style="object-fit:contain;">
                                            <div class="products-mini-icon rounded-circle bg-primary">
                                                <a href="{% url 'store:detail' product.pk %}" class="text-white"><i
                                                        class="fa fa-eye fa-1x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div
                                            class="products-mini-content p-3 d-flex flex-column justify-content-between h-100">
                                            <div>
                                                <a href="{% url 'store:detail' product.pk %}"
                                                    class="d-block mb-2 text-decoration-none text-dark">{{product.category.name
                                                    }}</a>
                                                <a href="{% url 'store:detail' product.pk %}"
                                                    class="d-block h5 text-dark">{{ product.name }}</a>
                                                <p class="mb-1 fw-bold">{{ product.price }}₾</p>
                                            </div>
                                            <div class="d-flex justify-content-start gap-2">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p class="text-center">No products available.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endblock %}