{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Profile Edit</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <h5 class="mb-3">Main Info</h5>
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-success mt-3 w-100">SAVE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

